* {
    margin: 0;
    padding: 0;
}

@font-face {
    src: url(./Fonts/EmotionEngine-8ynA.ttf.ttf);
    font-family: psfont;
}

:root {
    --textfont: 'Lato', sans-serif;
    --section_w : 90%;
    --m_section_w : 73vw;
}
#bggif {

    height: 100%;
    position: fixed;
    z-index: -100;
    top: 0;
    filter: brightness(70%);
}

#mainlogo {
    max-height: 100%;
    max-width: 23%;
    background: rgb(173, 56, 56);
    display: flex;
    flex-direction: column;
    position: fixed;
    right: initial;
    left: 0;
    top: 0;
    z-index: 100;
}


nav {
    height: 100vh;
    width: 100%;
}


#navlinks {
    display: flex;
    flex-direction: column;
    height: 60%;
    background: rgb(36, 36, 36, 0.5);
    margin-top: 25%;
}

#navlinks li {
    list-style-type: none;
    font-size: 35px;
    font-family: var(--textfont);
    font-weight: bolder;
    width: 60%;
    overflow: auto;
    margin-top: 50%;
    margin-left: 2.5%;
}

#navlinks li a {
    color: whitesmoke;
    text-decoration: none;
}


header #logoimg {
    width: 50%;
    height: 15%;
    margin-top: 5px;
    margin-left: 20%;
}

header #logotext {
    color: whitesmoke;
    font-family: psfont;
    font-size: 35px;
    margin-bottom: 5px;
    margin-left: 25%;
}
main {
    margin-left: 25%;
}

#description {
    width: var(--m_section_w);
    height: 230px;
    margin-top: 5%;
    background: whitesmoke;
    opacity: 0.9;
}
#descriptiontext {
    padding: 5px;
    font-size: 30px;
    font-family: var(--textfont);
    height: 220px;
    overflow: scroll;
}

#gamesoftheweek {
    width: var(--m_section_w);
    height: 1200px;
    margin-top: 2.5%;
    background: whitesmoke;
    opacity: 0.9;
    display: flex;
    flex-wrap: wrap;
}

.sectionheader {
    font-family: var(--textfont);
    text-decoration: underline;
    margin-left: 5%;
    margin-top: 2.5%;
}

.games {
   width: 90%;
   height: 25%;
   margin: 5%;
}

.games img {
    height: 100%;
    width: 100%;
}

.gameinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: black;
    height: 10%;
}

@media screen and (max-width: 375px) {
    .gameinfo {
        height: 15%;
        overflow: scroll;
    }
}

.gameinfo li {
    list-style-type: none;
    color: whitesmoke;
    font-family: var(--textfont);
    font-size: 115%;
}

#gamenews {
    width: var(--m_section_w);
    height: 750px;
    margin-top: 2.5%;
    background: whitesmoke;
    opacity: 0.9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}


#news {
    width: 90%;
    margin: 5%;
}

#news img {
    width: 100%;
}

#news h1 {
    text-decoration: underline;
    font-family: var(--textfont);
    font-weight: bolder;
}

#news p {
    height: 180px;
    font-size: 25px;
    margin-top: 5px;
    font-family: var(--textfont);
    font-weight: bolder;
    overflow: scroll;
}

#recommended {
    width: var(--m_section_w);
    height: 550px;
    margin-top: 2.5%;
    background: whitesmoke;
    opacity: 0.9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    margin-bottom: 100px;
}


#recommended1 {
    width: 90%;
    margin: 5%;
}

#recommended1 img {
    width: 100%;
}

#recommended1 h1 {
    text-decoration: underline;
    font-family: var(--textfont);
    font-weight: bolder;
}

#recommended1 p {
    height: 100px;
    font-size: 25px;
    margin-top: 5px;
    font-family: var(--textfont);
    font-weight: bolder;
    overflow: scroll;
    width: 100%;
}

#footerlinks {
    height: 7%;
    background: rgb(15, 15, 15);
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
}

#footerlinks li {
    font-size: 30px;
    font-family: var(--textfont);
    list-style-type: none;
}

#footerlinks li a {
    color: whitesmoke;
    text-decoration: none;
}