* {
    margin: 0;
    padding: 0;
}

@font-face {
    src: url(../css/Fonts/EmotionEngine-8ynA.ttf.ttf);
    font-family: psfont;
}

:root {
    --textfont: 'Lato', sans-serif;
    --section_w : 90%;
    --m_section_w : 73vw;
}
#bggif {

    height: 100%;
    position: fixed;
    z-index: -100;
    top: 0;
    filter: brightness(70%);
}

#mainlogo {
    max-height: 100%;
    max-width: 20%;
    background: rgb(173, 56, 56);
    display: flex;
    flex-direction: column;
    position: fixed;
    right: initial;
    left: 0;
    top: 0;
    z-index: 100;
}


nav {
    height: 100vh;
    width: 100%;
}


#navlinks {
    display: flex;
    flex-direction: column;
    height: 60%;
    background: rgb(36, 36, 36, 0.5);
    margin-top: 25%;
}

#navlinks li {
    list-style-type: none;
    font-size: 25px;
    font-family: var(--textfont);
    font-weight: bolder;
    width: 60%;
    overflow: auto;
    margin-top: 50%;
    margin-left: 2.5%;
}

#navlinks li a {
    color: whitesmoke;
    text-decoration: none;
}


header #logoimg {
    width: 35%;
    height: 15%;
    margin-top: 5px;
    margin-left: 25%;
}

header #logotext {
    color: whitesmoke;
    font-family: psfont;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 15%;
    margin-top: 5%;
}
main {
    margin-left: 25%;
}

#recheader {
    font-family: psfont;
    color: whitesmoke;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 45px;
}

#reccontent {
    width: var(--section_w);
    height: 1000px;
    margin-left: 5%;
    margin-top: 5%;
    background: rgb(245, 245, 245, 0.8);
    margin-bottom: 150px;
}

#sectionheader {
    text-decoration: underline;
    font-family: var(--textfont);
    font-weight: bolder;
    margin-left: 1%;
}

#reccontent img {
    width: 100%;
    margin-top: 5%;
}

#rectext {
    width: 100%;
    margin-top: 5%;
    font-family: var(--textfont);
    font-size: 25px;
    font-weight: bolder;
}

#loadoutlist {
    width: 100%;
    margin-left: 7.5%;
}

#loadoutlist li {
    font-size: 20px;
    font-family: var(--textfont);
    font-weight: bolder;
}

#reccontent h2 {
    font-family: var(--textfont);
    font-weight: bolder;
    margin-left: 1%;
}

#footerlinks {
    height: 7%;
    background: rgb(15, 15, 15);
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
}

#footerlinks li {
    font-size: 30px;
    font-family: var(--textfont);
    list-style-type: none;
    margin-left: 20%;
}

#footerlinks li a {
    color: whitesmoke;
    text-decoration: none;
}

